/* ================================= */
/* tablet < 1200px width */
/* ================================= */

@media (max-width: 75em){

    .page-header .wrapper{
        justify-content: space-between;
        position: relative;
    }

    /* navigation dropdown menu */
    .page-header .left-nav,
    .page-header .right-nav{display: none;}

    .open.page-header .left-nav,
    .open.page-header .right-nav{display: block;}

    .page-header .wrapper nav{ 
        flex:0;
        position: absolute;
        top:100%;
        z-index: 1000;
     }
    
    .page-header .left-nav{left:0px;}
    .page-header .right-nav{left:50%;}

    .page-header nav ul{
        flex-direction: column;
    }

    .page-header nav ul li{
        margin: 10px 0;
    }

    .page-header.open::after{
        content:'';
        display: block;
        height:120px;
        width: 100%;
        background-color:  #f7c61d;
        position: absolute;
    }

    .page-header .nav-toggle{ 
        display: block;
        order:1;
        display: flex;
        justify-content: flex-end;
    }

    .page-header .nav-toggle ion-icon{
        font-size:2.5rem;
    }

    .page-header .wrapper .header-logo{
        justify-content: flex-start;
    }

    .main-wrapper{
        flex-direction: column;
    }

    .main-wrapper main,
    .main-wrapper aside{
        width:100%;
    }
    
    .article-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
     }

    .article-wrapper article {width:48%;}

    main article{flex-direction: column;}

    .article-left{margin-bottom: 40px;}

    .article-right{padding-left: 0;}

    .right-sidebar{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding-top:0;
        margin-left:0;
        margin-bottom:60px;
    }
    .right-sidebar .search{width: 100%;}
    .right-sidebar .calendar{width: 45%;}
    .right-sidebar .popular{width: 45%;}

    .search input{
        width: 60%;
        margin-bottom: 30px;
    }

    .page-footer{
        height: 100px;
    }

    .page-footer .wrapper{
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .page-footer .wrapper > *{
        width: 50%;
    }
    .page-footer .copy{
        order:1;
    }
}


/* ================================= */
/* mobile < 576px width */
/* ================================= */

@media (max-width: 36em){
    
    .page-header nav{overflow:hidden;}

    .article-wrapper article {width:100%;}
    
    main article{flex-direction: column; }

    .right-sidebar{
        flex-direction: column;
        margin-bottom: 30px;
    }

    .right-sidebar .search,
    .right-sidebar .calendar,
    .right-sidebar .popular
    {width: 100%;}

    .search input{width: 100%;}

    .page-footer{
        height: 120px;
        padding: 10px 0;
    }

    .page-footer .wrapper{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }

    .page-footer .wrapper > *{
        width: 100%;
    }

    .social-links{justify-content: flex-start;}

    .page-footer nav ul{justify-content: flex-start;}

    .page-footer nav ul li {margin-right: 1em;}


}